:root {
  --background: #3F51B5;
  --font-color: #ffffff;
  --player-x: red;
  --player-y: yellow;
  --tile-margin: 1rem; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  background-color: var(--background);
  font-family: Bungee, Helvetica, sans-serif;
  text-align: center;
  color: var(--font-color);
  text-transform: uppercase; }

main {
  height: 80rem;
  min-width: 35rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 5rem 0; }

h1 {
  margin: 3rem 0;
  font-size: 8rem;
  letter-spacing: 5px; }

#board {
  width: 50rem;
  height: 50rem;
  margin: 0 auto 5rem;
  display: flex;
  flex-direction: column;
  position: relative; }

.board-row {
  flex: 1;
  display: flex;
  margin-bottom: var(--tile-margin); }

.board-tile {
  flex: 1;
  border: 3px solid var(--font-color);
  border-radius: 20%;
  transition: all 0.2s ease-out; }

.board-tile:not(:last-child) {
  margin-right: var(--tile-margin); }

.board-tile:hover {
  cursor: pointer;
  background-color: #eee;
  opacity: 0.3; }

.playerX {
  background-color: var(--player-x);
  border-color: var(--player-x); }

.playerO {
  background-color: var(--player-y);
  border-color: var(--player-y); }

.board-tile.playerX:hover,
.board-tile.playerO:hover {
  box-shadow: none;
  opacity: 1; }

.board-tile.playerX:hover {
  background-color: var(--player-x); }

.board-tile.playerO:hover {
  background-color: var(--player-y); }

#results {
  margin: 2.5rem auto;
  width: 40rem;
  font-size: 2.5rem; }

#new-game {
  width: 90%;
  height: 8rem;
  margin-top: 2rem; }

.options {
  margin: 10rem auto 0; }
  .options__header {
    font-size: 3rem;
    margin-bottom: 2rem; }
  .options__choice {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem; }

.btn {
  color: var(--font-color);
  background: none;
  cursor: pointer;
  transition: all .3s;
  font-size: 4rem; }
  .btn:hover {
    background: var(--font-color);
    color: var(--background); }

input[type="radio"] {
  display: none; }

.hidden {
  display: none; }
