:root {
  --background: #3F51B5;
  --font-color: #ffffff;

  --player-x: #3F51B5;
  --player-y: #3F51B5;

  --tile-margin: 1rem;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*, 
*:before,
*:after {
  font-family: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: var(--background);
  font-family: Bungee, Helvetica, sans-serif;
  text-align: center;
  color: var(--font-color);
  text-transform: uppercase;
}

main {
  height: 80rem;
  min-width: 35rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 5rem 0;
}

h1 {
  margin: 3rem 0;
  font-size: 8rem;
  letter-spacing: 5px;
}

#board {
  width: 50rem;
  height: 50rem;
  margin: 0 auto 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.board-row {
  flex: 1;
  display: flex;
  margin-bottom: var(--tile-margin);
}

.board-tile {
  flex: 1;
  color: -var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  border: 3px solid var(--font-color);
  border-radius: 20%;
  transition: all 0.2s ease-out;
}

.board-tile:not(:last-child) {
  margin-right: var(--tile-margin);
}

.board-tile:hover {
  cursor: pointer;
  background-color: #eee;
  opacity: 0.3;
}

.playerX {
  background-color: var(--font-color);
  border-color: var(--font-color);
  color: var(--player-x);
}

.playerO {
  background-color: var(--font-color);
  border-color: var(--font-color);
  color: var(--player-y);
}

.board-tile.playerX:hover,
.board-tile.playerO:hover {
  box-shadow: none;
  opacity: 1;
}

.board-tile.playerX:hover {
  background-color: var(--font-color);
}

.board-tile.playerO:hover {
  background-color: var(--font-color);
}

#results {
  margin: 2.5rem auto;
  width: 40rem;
  font-size: 2.5rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

#results-text {
  font-size: 4rem;
}

#new-game {
  background: var(--background);
  width: 90%;
  height: 8rem;
  margin-top: 2rem;
}

#new-game:hover {
  background: var(--font-color);
  color: var(--background);
}

#players-select {

}

#character-select {

}

.options {
  margin: 5rem auto 0;

  &__header {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__choice {
    margin-bottom: 1.5rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 6rem;
  }
}

.btn {
  color: var(--font-color);
  background: none;
  cursor: pointer;
  transition: all .3s;
  font-size: 4rem;

  &:hover {
    background: var(--font-color);
    color: var(--background);
  }
}

input[type="radio"] {
  display: none;
}

.hidden {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  display: none;
  opacity: 0;
  transition: opacity .3s;
  z-index: 10;
}