body {
  margin: 0;
  background-color: #3F51B5;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

main {
  min-width: 350px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin: 30px 0;
  font-size: 50px;
  letter-spacing: 5px;
}

#board {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.board-tile {
  flex: 0 0 33.3%;
  box-sizing: border-box;
  border: 2px solid #aaa;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.board-tile:hover {
  cursor: pointer;
  background-color: #eee;
  opacity: 0.3;
}

.playerX {
  background-color: #E91E63;
  border-color: #E91E63;
}

.playerO {
  background-color: #FDD835;
  border-color: #FDD835;
}

.board-tile.playerX:hover,
.board-tile.playerO:hover {
  box-shadow: none;
  opacity: 1;
}

.board-tile.playerX:hover {
  background-color: #E91E63;
}

.board-tile.playerO:hover {
  background-color: #FDD835;
}

#results {
  margin: 25px auto;
  width: 400px;
  font-size: 24px;
}

#new-game {
  width: 90%;
  height: 80px;
  margin-top: 20px;
}

#players-select {

}

#character-select {

}

.options {
  margin: 100px auto 0;

  &__header {
  
  }

  &__choice {
    margin-bottom: 15px;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 60px;
  }

}

input[type="radio"] {
  display: none;
}

.hidden {
  display: none;
}

.btn {
  color: white;
  background: none;
  cursor: pointer;
  transition: all .3s;
  font-size: 40px;
  border: 1px solid white;

  &:hover {
    background: white;
    color: #3F51B5;
  }
}