:root {
  --background: #3F51B5;
  --font-color: #ffffff;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--font-color);
  text-transform: uppercase;
}

main {
  height: 80rem;
  min-width: 35rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 5rem 0;
}

h1 {
  margin: 3rem 0;
  font-size: 5rem;
  letter-spacing: 5px;
}

#board {
  border: 1px solid white;
  width: 50rem;
  height: 50rem;
  margin: 0 auto 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.board-row {
  flex: 1;
  display: flex;
}

.board-tile {
  flex: 1;
  border: 2px solid #aaa;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.board-tile:hover {
  cursor: pointer;
  background-color: #eee;
  opacity: 0.3;
}

.playerX {
  background-color: #E91E63;
  border-color: #E91E63;
}

.playerO {
  background-color: #FDD835;
  border-color: #FDD835;
}

.board-tile.playerX:hover,
.board-tile.playerO:hover {
  box-shadow: none;
  opacity: 1;
}

.board-tile.playerX:hover {
  background-color: #E91E63;
}

.board-tile.playerO:hover {
  background-color: #FDD835;
}

#results {
  margin: 2.5rem auto;
  width: 40rem;
  font-size: 2.5rem;
}

#new-game {
  width: 90%;
  height: 8rem;
  margin-top: 2rem;
}

#players-select {

}

#character-select {

}

.options {
  margin: 10rem auto 0;

  &__header {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__choice {
    margin-bottom: 1.5rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 6rem;
  }

}

input[type="radio"] {
  display: none;
}

.hidden {
  display: none;
}

.btn {
  color: var(--font-color);
  background: none;
  cursor: pointer;
  transition: all .3s;
  font-size: 4rem;
  border: 1px solid var(--font-color);

  &:hover {
    background: var(--font-color);
    color: var(--background);
  }
}